body {
            background-color: black;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .container {
            position: relative;
            height: 100vh;
            width: 100vw;
            overflow: hidden;
        }

        .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url(bg.jpg);
            background-size: cover;
            opacity: 0.6;
            z-index: 0;
        }

        h1 {
            position: relative;
            color: white;
            z-index: 1;
            display: flex;
            justify-content: center;
            font-size: 50px;
            font-family: "Michroma", sans-serif;
        }
        .boxcontainer{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            max-width: 20vw;
            margin: auto;
            gap: 10px;
            z-index: 1;
        }
        .boxes {
            border: 6px solid blueviolet;
            aspect-ratio: 1/1;
            
            position: relative;
            width: 120px;
            height: 120px;
            z-index: 1;
            border-radius: 10px;
            background-color: black;
            transition: 0.3s;
        }
        .boxes:hover{
            background-color: rgb(73, 73, 73);
            transition: 0.3s;
            cursor: pointer;
        }
        .boxes{
            color: blueviolet;
            font-size: 70px;
            text-align: center;
            align-content: center;
            font-family: "Michroma", sans-serif;
        }
        #status{
            color: white;
            font-size: 35px;
            font-family: "Michroma", sans-serif;
            z-index: 10;
            position: relative;
        }
        .Status{
            color: white;
            font-size: 35px;
            font-family: "Michroma", sans-serif;
            z-index: 10;
            position: relative;
            padding-right: 30px;
        }
        .statusbar{
            display: flex;
            margin-left: 20px;
        }
        .Restart{
            position: relative;
            z-index: 10;
            color: white;
            background-color: black;
            border: 5px solid blueviolet;
            font-family: "Michroma", sans-serif;
            width: 200px;
            height: 50px;
            font-size: 15px;
            top: 20px;
            left: 20px;
            cursor: pointer;
            transition: 0.2s;
        }
        .Restart:hover{
            transition: 0.2s;
            transform: scale(1.06);
        }
